body {
    font-family: "SUSE", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    background-color: rgb(255, 225, 225);
    line-height: 1.6;

}
header {
    background-color: #850033;
    width: 100%;
    min-height: 80px;
    display: flex;
    justify-content: space-between; /* separa esquerda e direita */
    align-items: center;
}
nav {
    font-size: 20px;
    width: 20%;
    display: inline-flex; /* maneira como os objetos dentro do <nav> devem se comportar */
    margin-left: 100px; /* margin determina um espaço depois do término do objeto */
    margin-top: 10vh;
    justify-content: space-between;
    
}
#logoMDC {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 10vh;
    width: 90px;
    border-radius: 50%; /* arredondamento da borda */
}
.sin {
    font-size: 1.3rem;
    color: rgba(240, 236, 236, 0.9);
    text-decoration: none;
    padding: 0 0 2rem 2.5rem;
}
.sin:hover {
    color: #fff;
    transition: 0.3s;
}
div {
    padding-top: 75px;
}
#titulo {
    font-weight: 600;
    font-style: normal;
    color:#bb0048;
    font-size: 60px;
    text-align: center;
}
#subtitulo {
    font-weight: 500;
    font-size: 20px;
    text-align: center;
    padding-top: 25px;
    color: rgb(0, 0, 0);
}


.divss:hover {
    transition: 0.5s;
    transform: scale(1.2);
    box-shadow: 3px 3px 3px 3px #929292;
}
#if {
    font-weight: bold;
    text-decoration: none;
    color: #bb0048;
}
#if:hover {
    color: #ff0066;
    transition: 0.5s;
}
#oproje {
    line-height: 20px;
    font-size: 20px;
    margin-top: 20px;
    text-align: justify;
    margin-bottom: 60px;
    padding-left: 200px;
    padding-right: 200px;
}
.proesca {
    font-size: 18px;
    color:#bb0048;
    font-weight: bold;
}
.tag {
    color:#bb0048;
    font-weight: 500;
    margin-bottom: 20px;
    font-size: 29px;
    margin-top: -35px;
}
.imgtag {
    width: 150px;
}
#fim {
    background-color: #850033;
    text-align: center;
    padding: 1rem;
    color: rgba(240, 236, 236, 0.9);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
    max-height: 200px; /* limite de altura */
    overflow: hidden;  /* impede que o conteúdo ultrapasse */
}

#fimtxt {
    font-size: 18px;
    color: rgba(240, 236, 236, 0.9);
    margin: 0;
}

/* Imagem no footer */
#min {
    width: auto;
    height: auto;
    max-height: 100px; /* garante que a imagem caiba no footer */
    object-fit: contain;
    display: block;
    margin: 0 auto;
}

#infos {
    margin-top: -6vh;
}
#eqp {
    margin-top: -6vh;
}

.titulorosaClaro{
    margin-top: -25px;
    margin-bottom: 50px;
    font-weight: bold;
    margin-left: 150px;
    margin-right: 150px;
    border-radius: 30px;
    text-align: center;
    font-size: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    color:#ffffff;
    background-color:#bb0048;
}
.titulotxts{
    color:#bb0048;
    line-height: 20px;
    font-size: 20px;
    font-weight: bold;
    margin-top: 30px;
    text-align: justify;
    padding-left: 200px;
    padding-right: 200px;
}
#obiesp {
    margin-top: -25px;
    margin-bottom: 50px;
    font-weight: bold;
    margin-left: 150px;
    margin-right: 150px;
    border-radius: 30px;
    text-align: center;
    font-size: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    color:#227700;
    background-color: #2277004b;
}
.noobintxt {
    line-height: 20px;
    font-size: 18px;
    margin-top: 20px;
    text-align: justify;
    margin-bottom: 20px;
    margin-left: 200px;
    margin-right: 200px;
}
#deonde {
    color:#bb0048;
    font-weight: 500;
    margin-bottom: 20px;
    font-size: 25px;
    margin-top: -35px;
    text-align: center;
    font-weight: bold;
}
.txts {
    line-height: 20px;
    font-size: 20px;
    margin-top: 30px;
    text-align: justify;
    padding-left: 200px;
    padding-right: 200px;
}
.titulos {
    margin-top: 25px;
    margin-bottom: 50px;
    font-weight: bold;
    scale: 0.9;
    margin-left: 150px;
    margin-right: 150px;
    border-radius: 30px;
    text-align: center;
    font-size: 25px;
    padding-top: 10px;
    padding-bottom: 10px;
    color:#ffffff;
    background-color: #bb0048;
}
#sevc {
    margin-top: 50px;
    margin-bottom: 50px;
    font-weight: bold;
    margin-left: 150px;
    margin-right: 150px;
    border-radius: 20px;
    text-align: center;
    font-size: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    color: rgb(0, 0, 0);
}


#arduino, #projeto_completo, #vaso, #site {
    width: 400px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 20px;
}
.mdcerenacee {
    color: rgb(255, 186, 218);
    text-decoration: none;
}
.mdcerenacee:hover {
    color: #ff0066;
}

/* Responsividade para tablets e celulares */
@media (max-width: 1024px) {
    nav {
        width: 100%;
        margin-left: 0;
        margin-top: 2vh;
        justify-content: center;
        flex-wrap: wrap;
        gap: 1rem;
    }

    .sin {
        padding: 0.5rem 1rem;
        font-size: 1rem;
    }

    #logoMDC {
        width: 70px;
        margin-right: 20px;
    }

    #titulo {
        font-size: 40px;
        padding: 0 20px;
    }

    #subtitulo {
        font-size: 18px;
        padding: 0 20px;
    }

    .txts,
    .titulotxts,
    .noobintxt,
    #oproje {
        padding-left: 30px;
        padding-right: 30px;
        font-size: 18px;
    }

    .titulos,
    .titulorosaClaro,
    #sevc {
        margin-left: 30px;
        margin-right: 30px;
        font-size: 22px;
    }

    #arduino, #projeto_completo, #vaso {
        width: 90%;
        max-width: 400px;
    }

    #min {
        max-width: 90%;
    }
}

@media (max-width: 600px) {
    header {
        flex-direction: column;
        align-items: center;
        padding: 1rem;
    }

    nav {
        flex-direction: column;
        align-items: center;
    }

    .sin {
        padding: 0.5rem;
    }

    #titulo {
        font-size: 30px;
    }

    #subtitulo {
        font-size: 16px;
    }

    .txts,
    .titulotxts,
    .noobintxt,
    #oproje {
        padding-left: 15px;
        padding-right: 15px;
        font-size: 16px;
    }

    .titulos,
    .titulorosaClaro,
    #sevc {
        margin-left: 15px;
        margin-right: 15px;
        font-size: 20px;
    }

    #logoMDC {
        width: 60px;
        margin: 10px auto;
    }

    #fimtxt {
        font-size: 14px;
    }
}


